

@mixin bg-color {
    $primary-dark-bg: rgb(47, 48, 48);
}

@mixin fade-in($time: 0.5s, $ease: ease-in) {
    animation: fadeIn $time $ease forwards;
}

@mixin fade-out($time: 0.5s, $ease: ease-out) {
    animation: fadeOut $time $ease forwards;
}

@mixin shin-in($time: 0.5s, $ease: ease-in) {
    animation: shinIn $time $ease forwards;
}

