@use '../abstract/mixin';

.setting-screen-box {
    height: 100dvh;
    width: 100vw;
    background-color: #FFFFFF;
    font-family: 'Almarai';
}

.container {
    @include mixin.respond(la) {
        padding: 16px 16px 0;
    }
}

.setting-screen-container {
    height: 100%;
    min-height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.setting__headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;

    @include mixin.respond-height(medium) {
        margin-bottom: 10px;
    }

    h2 {
        color: black;
        font-size: 54px;
        font-weight: 700;
        line-height: 100%;
        font-family: 'RedRose';

        @include mixin.respond-height(short) {
            font-size: 32px;
        }
    }

    .underline-img {
        width: 251px;

        @include mixin.respond-height(short) {
            width: 140px;
        }
    }
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 539px;
    width: 100%;

    @include mixin.respond(la) {
        justify-content: start;
        gap: 16px;
    }

    @include mixin.respond(sm) {
        height: 570px;
    }

    @include mixin.respond-height(medium) {
        height: 550px;
        gap: 8px;
    }

    @include mixin.respond-height(short1) {
        height: 100%;
        gap: 8px;
    }

    .small-headline {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: 'Almarai';
    }

    .option input {
        display: none;
    }

    .option {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 8px;
        padding: 10px 44px;
        width: max-content;

        @include mixin.respond(sm) {
            font-size: 16px;
        }

        .circle {
            display: block;
            background-image: url('../../../public/assets/img/circle.png');
            height: 25px;
            width: 25px;
        }

        &:hover {
            .circle {
                background-image: url('../../../public/assets/img/circle_point.png');
            }

            .line {
                background-image: url('../../../public/assets/img/small_line.png');
                background-size: contain;
                background-repeat: no-repeat;
                height: 15px;
                width: 41px;
            }

            .theme-img {
                display: block;

                @include mixin.respond(sm1) {
                    display: none;
                }
            }

            &:hover .theme-img {
                display: block;
                z-index: 2;

                @include mixin.respond(sm1) {
                    display: none;
                }

                @include mixin.respond-height(medium) {
                    display: none;
                }
            }
        }

        & input:checked+.circle {
            background-image: url('../../../public/assets/img/circle_point.png');
        }

        & input:checked~.line {
            background-image: url('../../../public/assets/img/small_line.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 15px;
            width: 41px;
        }

        & input:checked~.theme-img {
            display: block;

            @include mixin.respond(la) {
                height: 300px;
                width: 300px;
            }

            @include mixin.respond(sm1) {
                display: none;
            }

            @include mixin.respond-height(medium) {
                display: none;
            }
        }

    }

    .theme-img {
        display: none;
        position: absolute;
        top: 0;
        right: 0;

        @include mixin.respond(sm1) {
            display: none;
        }

        @include mixin.respond-height(medium) {
            display: none;
        }
    }
}

.start-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 14px 20px;
    background-color: #F6F6F6;

    display: flex;
    align-items: center;
    gap: 16px;

    @include mixin.respond(sm) {
        padding: 14px 8px;
    }

    @include mixin.respond-height(short) {
        position: fixed;
        bottom: 16px;
        right: 16px;
    }

    &__box {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mixin.respond(sm) {
            flex-direction: column;
        }

        @include mixin.respond-height(short) {
            flex-direction: column;
        }
    }

    &__img {
        @include mixin.respond(sm1) {
            height: 24px;
        }

        @include mixin.respond-height(short) {
            height: 24px;
        }
    }

    .start-container__text {
        font-size: 20px;
        line-height: 100%;
        cursor: default;

        @include mixin.respond(sm1) {
            font-size: 16px;
        }
    }
}