.setting-screen-box {
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
}

.setting-screen-box {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.headline {
    display: flex;
    align-items: center;

    h2 {
        color: black;
        font-size: 54px;
        font-weight: 700;
        line-height: 100%;
    }

    .underline-img {
        width: 251px;
    }
}

.selection {
    position: relative;
    width: 100%;
    height: 539px;
    display: flex;

    &__box {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        padding: 0 0 0 10px;
    }

    .theme-game {
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: end;
    }
}

.choose-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__headline {
        display: flex;
        align-items: center;
        gap: 8px;

        h3 {
            cursor: default;
        }
    }

    &__themes {
        padding: 10px 40px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: max-content;

        .theme {
            display: flex;
            align-items: center;
            height: 24px;
            gap: 10px;
            cursor: pointer;

            &:hover,
            &.active {
                .theme__circle-img {
                    background-image: url('../../../public/assets/img/circle_point.png');
                }

                .theme__text {
                    font-weight: 700;
                }

                .theme__line {
                    width: 41px;
                    height: 100%;
                    background-image: url('../../../public/assets/img/small_line.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }

            &__circle-img {
                background-image: url('../../../public/assets/img/circle.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 24px;
                height: 24px;
            }

            &__text {
                font-size: 20px;
                font-weight: 400;
                line-height: 100%;
            }
        }
    }

    .theme-game__img {
        position: absolute;
        width: 460px;
        height: 412px;
        top: 0;
        right: 0;
    }

    .code-vibe-img {
        display: none;
    }

    .theme-wrapper {
        .theme-game__img {
            display: none;
        }
    }

    .theme-wrapper:hover .theme-game__img {
        display: block;
        z-index: 2;
    }

    .theme-wrapper:not(:hover) .theme.active+.theme-game__img {
        display: block;
    }
}

.start-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 14px 20px;
    background-color: #F6F6F6;
}