@use './../abstract/mixin';

.endScreen {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "RedRose";

    &__box {
        height: 367px;
        width: 990px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.gameover-img {
    background-image: url('../../../public/assets/img/Themes/CodeVibe/game_over-codeVibeTheme.png');
    height: 125px;
    width: 990px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.score {
    height: 118PX;
    width: 324PX;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__text {
        font-size: 26px;
        line-height: 100%;
        color: #FFFFFF;
        text-align: center;
    }

    &__board {
        height: 62px;
        width: 100%;
        padding: 17px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        &--bg {
            background-color: #86E9D633;
        }
    }
}

.player {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 24px;
    font-weight: 700;
    line-height: 100%;

    &--blue {
        color: #2BB1FF;
    }

    &--orange {
        color: #F58E39;
    }

    img {
        height: 20px;
        width: 24px;
    }
}

.winnerOverlay {
    @include mixin.fade-in(3s);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(47, 48, 48);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confetti {
    position: absolute;
    top: -32px;
    left: 0;
    background-image: url('./../../../public/assets/img/Confetti.png');
    height: 359px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.winner {
    height: 573px;
    width: 522px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    font-family: "RedRose";

    &__headline {
        height: 133px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;

        h3 {
            font-size: 40px;
            font-weight: 400;
            line-height: 100%;
        }

        h2 {
            font-size: 60px;
            font-weight: 700;
            line-height: 100%;
        }
    }

    &__blue {
        background-image: url('../../../public/assets/img/PlayerBlue.png');
        height: 250px;
        width: 200px;
    }

    &__orange {
        background-image: url('../../../public/assets/img/PlayerOrange.png');
        height: 250px;
        width: 200px;
    }

    .button__text {
        padding: 16px 24px;
        background-color: #86E9D633;
        color: #FFFFFF;
        border: 1px solid #4DD5BC;
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
    }
}