@use '../abstract/mixin';

.codeVibes-theme {
    background-color: rgb(47, 48, 48);
    font-family: 'RedRose';

    .container {
        padding: 40px 96px;

        @include mixin.respond(sm1) {
            padding: 40px 16px 0;
        }
    }

    .playerdisplay {
        align-items: end;
    }

    .playerdisplay__scoreboard {
        padding: 17px 20px;
        width: 292px;
        background-color: #86E9D633;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @include mixin.respond(md) {
            width: max-content;
            flex-direction: column;
            gap: 4px;
        }

        @include mixin.respond(sm) {
            padding: 8px 4px;
        }
    }

    .playerdisplay__player {
        display: flex;
        align-items: center;
        width: max-content;
        height: 28px;
        gap: 4px;
    }

    .playerdisplay__icon--blue {
        background-image: url('../../../public/assets/img/Themes/codeVibes/player-name-blue.png');
        height: 30px;
        width: 80px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .playerdisplay__icon--orange {
        background-image: url('../../../public/assets/img/Themes/codeVibes/player-name-orange.png');
        height: 30px;
        width: 115px;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .playerdisplay__number {
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
    }

    .currentplayer {
        display: flex;
        align-items: center;
        gap: 8px;

        @include mixin.respond(md) {
            flex-direction: column;
        }

        &__text {
            font-size: 26px;
            line-height: 100%;

            @include mixin.respond(sm) {
                font-size: 16px;
            }
        }

        .blue-label {
            height: 24px;
            width: 29px;
            background-image: url('../../../public/assets/img/Themes/codeVibes/label-blue.png');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .orange-label {
            height: 24px;
            width: 29px;
            background-image: url('../../../public/assets/img/Themes/codeVibes/label-orange.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .respond-btn {
        @include mixin.respond(la) {
            padding: 8px;
            background-color: #86E9D633;
            border: 1px solid #4DD5BC;
        }
    }

    .exit {
        background-image: url('../../../public/assets/img/Themes/codeVibes/exit_btn.png');
        height: 62px;
        width: 207px;

        &:hover {
            background-image: url('../../../public/assets/img/Themes/codeVibes/exit_btn-hover.png');
            height: 62px;
            width: 207px;
            background-size: cover;

            @include mixin.respond(la) {
                background-image: url('../../../public/assets/img/Themes/codeVibes/close_door.png');
                height: 32px;
                width: 32px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        @include mixin.respond(la) {
            background-image: url('../../../public/assets/img/Themes/codeVibes/close_door.png');
            height: 32px;
            width: 32px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .field {
        gap: 12px;
        padding: 12px;

        &.grid-16 {
            grid-template-columns: repeat(4, 1fr);
            width: fit-content;
        }

        &.grid-24 {
            grid-template-columns: repeat(6, 1fr);
            width: fit-content;

            @include mixin.respond(md) {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        &.grid-32 {
            grid-template-columns: repeat(6, 1fr);
            width: fit-content;

            @include mixin.respond(sm) {
                grid-template-columns: repeat(4, 1fr);
            }

            @include mixin.respond-height(tall) {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }

    .card.matched::after {
        content: "";
        position: absolute;
        inset: -4px;
        border-radius: 5px;
        border: 3px solid #4DD5BC;
        box-shadow: 0 0 12px #4DD5BC;
        animation: pulseMatch 0.6s ease-in-out;
    }

    .card__face--back {
        background-image: url('../../../public/assets/img/Themes/codeVibes/CodeVibes_cardback.png');
        background-size: cover;
    }

    .PopUp {
        height: 270px;
        width: 539px;
        background-color: #FFFFFF;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 16px;

        @include mixin.respond(sm) {
            height: auto;
        }

        h3 {
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            text-align: center;
            letter-spacing: 1px;

            @include mixin.respond(sm) {
                font-size: 24px;
            }
        }

        &__btn-box {
            height: 57px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }

        &__text {
            font-size: 20px;
            font-weight: 700;
            line-height: 100%;

            @include mixin.respond(sm) {
                font-size: 16px;
            }
        }

        &.open {
            @include mixin.fade-in-top(0.5s);
            opacity: 1;
            pointer-events: all;
        }

        &.closing {
            @include mixin.fade-out-top(0.5s);
        }
    }

    // endscreen

    .endscreen {
        height: 100vh;
        min-height: 100vh;
        width: 100vw;

        &__box {
            height: 100%;
            min-height: calc(100vh - 80px);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .gameover {
        height: 367px;
        width: 990px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__img {
            background-image: url('../../../public/assets/img/Themes/codeVibes/game_over-codeVibeTheme.png');
            height: 125px;
            width: 990px;
            background-size: cover;
            background-position: center;
        }
    }

    .score {
        height: 118px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__text {
            font-size: 26px;
            line-height: 100%;
            color: #FFFFFF;
            font-weight: 400;
        }

        &__board {
            height: 62px;
            background-color: #86E9D633;
            padding: 17px 20px;
            display: flex;
            gap: 32px;
            justify-content: space-between;
        }
    }

    .winnerOverlay {
        @include mixin.fade-in-top(3s);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgb(47, 48, 48);
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .confetti {
        position: absolute;
        top: -32px;
        left: 0;
        background-image: url('./../../../public/assets/img/Themes/codeVibes/Confetti.png');
        height: 359px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .winner {
        height: 573px;
        width: 522px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 150px;
        font-family: "RedRose";

        &__headline {
            height: 133px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;

            h3 {
                font-size: 40px;
                font-weight: 400;
                line-height: 100%;
            }

            h2 {
                font-size: 60px;
                font-weight: 700;
                line-height: 100%;

                .blue {
                    color: #2BB1FF;
                }

                .orange {
                    color: #F58E39;
                }
            }
        }

        &__blue {
            background-image: url('../../../public/assets/img/PlayerBlue.png');
            height: 250px;
            width: 200px;
        }

        &__orange {
            background-image: url('../../../public/assets/img/PlayerOrange.png');
            height: 250px;
            width: 200px;
        }

        .button__text {
            padding: 16px 24px;
            background-color: #86E9D633;
            color: #FFFFFF;
            border: 1px solid #4DD5BC;
            font-size: 24px;
            font-weight: 700;
            line-height: 100%;
            transition: 256ms ease-in-out;

            &:hover {
                box-shadow: inset 0 0 1px 1px #4DD5BC;
                background-color: #86e9d54d;
            }

            &::before {
                content: "Back to start";
            }
        }
    }
}