@use '../abstract/mixin';

.codeVibes-theme {
    background-color: rgb(47, 48, 48);
    font-family: 'RedRose';

    .container {
        padding: 40px 96px;
    }

    .playerdisplay {
        align-items: end;
    }

    .playerdisplay__scoreboard {
        padding: 17px 20px;
        width: 292px;
        background-color: #86E9D633;

        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .playerdisplay__player {
        display: flex;
        align-items: center;
        width: max-content;
        height: 28px;
        gap: 4px;
    }

    .playerdisplay__icon--blue {
        background-image: url('../../../public/assets/img/Themes/codeVibes/player-name-blue.png');
        height: 30px;
        width: 80px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .playerdisplay__icon--orange {
        background-image: url('../../../public/assets/img/Themes/codeVibes/player-name-orange.png');
        height: 30px;
        width: 115px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .playerdisplay__number {
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
    }

    .currentplayer {
        display: flex;
        align-items: center;
        gap: 8px;

        &__text {
            font-size: 26px;
            line-height: 100%;
        }

        .blue-label {
            height: 24px;
            width: 29px;
            background-image: url('../../../public/assets/img/Themes/codeVibes/label-blue.png');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .orange-label {
            height: 24px;
            width: 29px;
            background-image: url('../../../public/assets/img/Themes/codeVibes/label-orange.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .exit {
        background-image: url('../../../public/assets/img/Themes/codeVibes/exit_btn.png');
        height: 62px;
        width: 207px;

        &:hover {
            background-image: url('../../../public/assets/img/Themes/codeVibes/exit_btn-hover.png');
            height: 62px;
            width: 207px;
            background-size: cover;
        }
    }

    .card.matched::after {
        content: "";
        position: absolute;
        inset: -4px;
        border-radius: 5px;
        border: 3px solid #4DD5BC;
        box-shadow: 0 0 12px #4DD5BC;
        animation: pulseMatch 0.6s ease-in-out;
    }

    .card__face--back {
        background-image: url('../../../public/assets/img/Themes/codeVibes/CodeVibes_cardback.png');
        background-size: cover;
    }

    .PopUp {
        height: 270px;
        width: 539px;
        background-color: #FFFFFF;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            text-align: center;
            letter-spacing: 1px;
        }

        &__btn-box {
            height: 57px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }

        &__text {
            font-size: 20px;
            font-weight: 700;
            line-height: 100%;
        }

        &.open {
            @include mixin.fade-in-top(0.5s);
            opacity: 1;
            pointer-events: all;
        }

        &.closing {
            @include mixin.fade-out-top(0.5s);
        }
    }
}