@use '../abstract/mixin';

.gaming-theme {
    background: rgb(42, 79, 97);
    font-family: 'RedRose';

    .container {
        padding: 40px 96px 0;

        @include mixin.respond(sm1) {
            padding: 40px 16px 0;
        }

        @include mixin.respond-height(short) {
            padding: 8px 16px 0;
        }
    }

    header {
        background-color: #FD96C933;
        border-radius: 10px;
        padding: 24px;
        margin-bottom: 20px;

        @include mixin.respond(sm) {
            padding: 24px 8px;
        }

        @include mixin.respond-height(short) {
            padding: 8px;
            margin-bottom: 10px;
        }
    }

    .playerdisplay__scoreboard {
        padding: 0 16px;
        background-color: #FFFFFF;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        gap: 40px;

        &--revers {
            flex-direction: row-reverse;
        }

        @include mixin.respond(md) {
            padding: 0 2px;
            width: max-content;
            flex-direction: column;
            gap: 4px;
        }

        @include mixin.respond-height(short) {
            flex-direction: row-reverse;
            gap: 16px;
        }
    }

    .playerdisplay__player {
        display: flex;
        align-items: center;
        width: max-content;
        height: 38px;
        gap: 8px;
    }

    .playerdisplay__icon--blue {
        background-image: url('../../../public/assets/img/Themes/gaming/chess-blue.png');
        height: 28px;
        width: 22px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .playerdisplay__icon--orange {
        background-image: url('../../../public/assets/img/Themes/gaming/chess-orange.png');
        height: 28px;
        width: 22px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .playerdisplay__number {
        font-size: 30px;
        font-weight: 700;
        line-height: 100%;
        font-family: 'Orbitron';
    }

    .currentplayer {
        display: flex;
        align-items: center;
        gap: 18px;
        height: 40px;

        @include mixin.respond(md) {
            gap: 4px;
        }

        &__text {
            font-size: 32px;
            font-weight: 700;
            line-height: 100%;
            font-family: 'Orbitron';
            letter-spacing: 7%;

            @include mixin.respond(md) {
                font-size: 16px;
            }
        }

        .blue-label {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 41px;
            background-color: #1FAAFC;
            border-radius: 3px;
        }

        .orange-label {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 41px;
            background-color: #F58E39;
            border-radius: 3px;
        }

        .white-chess {
            height: 32px;
            width: 25px;
            background-image: url('../../../public/assets/img/Themes/gaming/chess-white.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .respond-btn {
        @include mixin.respond(la) {
            padding: 8px;
            background-color: #ED1B7614;
            border: 1px solid #ed1b76;
            border-radius: 10px;
            margin-left: 30px;
        }
    }

    .exit {
        background-image: url('../../../public/assets/img/Themes/Gaming/gaming-exit.png');
        height: 54px;
        width: 195px;
        margin-left: 30px;

        &:hover {
            background-image: url('../../../public/assets/img/Themes/Gaming/gaming-exit-hover.png');
            height: 54px;
            width: 195px;
            background-size: cover;

            @include mixin.respond(la) {
                background-image: url('../../../public/assets/img/Themes/Gaming/close_door.png');
                height: 32px;
                width: 32px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        @include mixin.respond(la) {
            background-image: url('../../../public/assets/img/Themes/Gaming/close_door.png');
            height: 32px;
            width: 32px;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 0;
        }
    }

    .field {
        gap: 4px;
        padding: 0px;

        &.grid-16 {
            grid-template-columns: repeat(4, 1fr);
            width: fit-content;
        }

        &.grid-24 {
            grid-template-columns: repeat(6, 1fr);
            width: fit-content;
        }

        &.grid-32 {
            grid-template-columns: repeat(6, 1fr);
            width: fit-content;

            @include mixin.respond-height(short) {
                grid-template-columns: repeat(9, 1fr);
            }
        }
    }

    .card {
        height: 120px;
        width: 105px;

        @include mixin.respond(la) {
            height: 95px;
            width: 90px;
        }

        @include mixin.respond(md) {
            height: 65px;
            width: 60px;
        }

        @include mixin.respond-height(tall) {
            height: 65px;
            width: 55px;
        }

        &__inner {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all 300ms ease-in-out;

            @include mixin.respond(la) {
                height: 95px;
                width: 90px;
            }

            @include mixin.respond(md) {
                height: 65px;
                width: 60px;
            }

            @include mixin.respond-height(tall) {
                height: 65px;
                width: 55px;
            }
        }

        &__face {
            position: absolute;
            inset: 0;
            backface-visibility: hidden;

            &--front {
                @include mixin.bg-color;
                transform: rotateY(180deg);
            }

            img {
                height: 117px;

                @include mixin.respond(la) {
                    height: 95px;
                    width: 90px;
                }

                @include mixin.respond(md) {
                    height: 65px;
                    width: 60px;
                }

                @include mixin.respond-height(tall) {
                    height: 60px;
                    width: 55px;
                }
            }
        }


        &.matched::after {
            content: "";
            position: absolute;
            height: 101px;
            width: 92px;
            inset: 0px;
            border-radius: 12px;
            border: 3px solid #ed1b76;
            box-shadow: 0 0 12px #ed1b76;
            animation: pulseMatch 0.6s ease-in-out;

            @include mixin.respond(la) {
                height: 83px;
                width: 78px;
            }

            @include mixin.respond(md) {
                height: 55px;
                width: 52px;
            }

            @include mixin.respond-height(tall) {
                height: 51px;
                width: 46px;
            }
        }
    }

    .card__face--back {
        background-image: url('../../../public/assets/img/Themes/gaming/gaming_cardback.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .PopUp {
        height: 254px;
        width: 481px;
        background-color: #F0F6F9;
        border-radius: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-size: 28px;
            font-weight: 700;
            line-height: 40px;
            text-align: center;
            letter-spacing: 2%;
            font-family: 'Orbitron';
        }

        &__btn-box {
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }

        &__text {
            font-size: 20px;
            font-weight: 700;
            line-height: 100%;
            font-family: 'Orbitron';
        }

        &.open {
            @include mixin.fade-in-bottom(0.5s);
            opacity: 1;
            pointer-events: all;
        }

        &.closing {
            @include mixin.fade-out-bottom(0.5s);
        }
    }

    // endscreen

    .endscreen {
        position: fixed;
        inset: 0;
        height: 100vh;
        min-height: 100vh;
        width: 100%;
        background: rgb(42, 79, 97);
        overflow: hidden;

        &__box {
            height: 100%;
            min-height: calc(100vh - 80px);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .gameover {
        height: 379px;
        width: 959px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__img {
            background-image: url('../../../public/assets/img/Themes/gaming/gameover-gaming.png');
            height: 155px;
            width: 969px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @include mixin.respond(bi) {
                height: 90px;
                width: 660px;
            }

            @include mixin.respond(md) {
                height: 55px;
                width: 400px;
            }

            @include mixin.respond(sm) {
                height: 40px;
                width: 300px;
            }
        }
    }

    .score {
        height: 120px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__text {
            font-size: 28px;
            line-height: 100%;
            color: #FFFFFF;
            font-weight: 700;
            letter-spacing: 7%;
        }

        &__board {
            height: 66px;
            background-color: #FFFFFF;
            border-radius: 10px;
            padding: 8px 16px;
            display: flex;
            align-items: center;
            gap: 40px;

            &--revers {
                flex-direction: row-reverse;
            }
        }
    }

    .winnerOverlay {
        @include mixin.fade-in-bottom(3s);
        position: fixed;
        inset: 0;
        height: 100%;
        width: 100%;
        background: rgb(42, 79, 97);
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .confetti {
        display: none;
    }

    .winner {
        height: 639px;
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-family: "Orbitron";
        margin-top: 0;

        @include mixin.respond(sm) {
            height: 500px;
        }

        @include mixin.respond-height(medium) {
            position: absolute;
            bottom: 16px;
            height: 520px;
            margin-top: 0;
        }

        @include mixin.respond-height(short) {
            height: 315px;
        }

        &__headline {
            width: max-content;
            display: flex;
            flex-direction: column;
            gap: 8px;
            text-align: center;

            h3 {
                font-size: 28px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 7%;

                @include mixin.respond(sm) {
                    font-size: 20px;
                }
            }

            h2 {
                font-size: 64px;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 7%;

                @include mixin.respond(md) {
                    font-size: 40px;
                }

                @include mixin.respond(sm) {
                    font-size: 28px;
                }

                .blue {
                    color: #2BB1FF;
                }

                .orange {
                    color: #F58E39;
                }
            }
        }

        .winnerImg {
            background-image: url('../../../public/assets/img/Themes/gaming/pockal.png');
            height: 344px;
            width: 288px;
            background-size: cover;

            @include mixin.respond-height(short) {
                height: 130px;
                width: 104px;
            }
        }

        .button__text {
            padding: 12px 20px;
            background-color: #ED1B7614;
            color: #FFFFFF;
            border: 1px solid #e71c4f;
            border-radius: 10px;
            font-size: 24px;
            font-weight: 700;
            line-height: 100%;
            transition: 256ms ease-in-out;

            &:hover {
                box-shadow: inset 0px 0px 1px 1px #e71c4f;
                background-color: #ed1b7638;
            }

            &::before {
                content: "Home";
            }
        }
    }
}