@use '../abstract/mixin';

.gamingBox {
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
}

.playerdisplay {
    height: 100%;
    width: 687px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;

    @include mixin.respond(bi) {
        justify-content: start;
        gap: 8px;
    }
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.field {
    width: 100%;
    display: grid;
    place-content: center;
    justify-content: center;
    align-items: center;

    &.grid-16 {
        grid-template-columns: repeat(4, 1fr);
        width: fit-content;
    }

    &.grid-24 {
        grid-template-columns: repeat(6, 1fr);
        width: fit-content;
    }

    &.grid-32 {
        grid-template-columns: repeat(6, 1fr);
        width: fit-content;
    }
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;

    &.open {
        @include mixin.shin-in();
        opacity: 1;
        pointer-events: all;
    }

    &.closing {
        @include mixin.shin-out();
    }
}