@use '../abstract/mixin';

.body-box {
    height: 100vh;
    width: 100vw;
    background-color: rgb(47, 48, 48);
}

.container {
    padding: 0 96px;

    @include mixin.respond(md) {
            padding: 0;
        }
}

.start-sceen-box {
    height: 100%;
    min-height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Almarai';
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #FFFFFF;
    margin-bottom: 40px;
    cursor: default;

    h2 {
        font-size: 48px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0;
        font-family: 'RedRose';
        @include mixin.respond(sm) {
            font-size: 32px;
            line-height: 120%;
        }
    }

    h1 {
        font-size: 140px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0;
        @include mixin.respond(bi) {
            font-size: 80px;
        }
        @include mixin.respond(md) {
            font-size: 56px;
        }
        @include mixin.respond(sm) {
            font-size: 40px;
        }
    }
}

.bg-yellow-controller {
    background-image: url('../../../public/assets/img/yellow_controller.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: left;
}